.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  &.light {
    background-color: rgba(#fff, 0.15);
  }

  &.dark {
    background-color: rgba(#000, 0.15);
  }
}
