.container {
  width: 128px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: $neutral-200;
}

.user {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 0.2s ease-in-out;
  animation: 0.4s ease-in-out fade;
  width: 100%;
  height: 100%;

  .decisionBtn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    position: relative;

    .btn {
      opacity: 0;
      width: 50%;
      height: 48px;
      color: #fff;
      font-family: "chaney";
      font-size: 36px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &.L {
        background: linear-gradient(
          180deg,
          rgba(236, 71, 88, 0) 0%,
          #ec4758 100%
        );
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }

      &.R {
        background: linear-gradient(
          180deg,
          rgba(26, 123, 185, 0) 0%,
          #1a7bb9 100%
        );
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }

      &.giveup {
        position: absolute;
        width: 100%;
        height: 32px;
        bottom: -32px;
        font-size: 14px;
        background: linear-gradient(
          180deg,
          rgba(120, 120, 120, 0.6) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &:hover {
    .decisionBtn {
      opacity: 1;
    }
  }

  > .decision {
    cursor: default;

    > .decisionChosen {
      text-align: center;
      font-family: "chaney";
      font-size: 72px;
      animation: 0.3s ease-in-out fade;
    }
  }

  > .userImage {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    /* 호버시 어둡게 처리 */
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
      opacity: 0;
      transition: opacity 0.7s ease-in-out;
    }
  }

  > .textBg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0.5;
  }

  > .text {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px;
    cursor: pointer;
    font-family: "chaney";
    font-weight: 900;
    font-size: 12px;
    color: #fff;
    text-align: right;
    word-break: break-all;
    white-space: pre-wrap;
    text-shadow: 0 0 1px 12px rgba(0, 0, 0, 0.5);
    &.korean {
      font-family: "Pretendard";
      font-size: 16px;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
