.button {
  font-family: "chaney";
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  color: $textPrimary;
  cursor: pointer;
  border: 0;
  outline: 0;
  &:disabled {
    color: #333;
    background-color: #aaa;
  }
  &.korean {
    font-family: "Pretendard";
    font-size: 16px;
    font-weight: 700;
  }
  &.primary {
    background-color: $primary;
  }
  &.secondary {
    background-color: $secondary;
    color: $textInverse;
  }
  &.tertiary {
    background-color: $tertiary;
  }
  &.accent {
    background-color: $accent;
    color: $textInverse;
  }
  &.danger {
    background-color: $danger;
    color: $textInverse;
  }
  &.info {
    background-color: $info;
    color: $textInverse;
  }
  &.black {
    background-color: #000;
    color: #fff;
  }
  &.inline {
    width: auto;
  }
}

.blackBtn {
  position: absolute;
  font-weight: normal;
  font-size: 12px;
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
}

.circleBtn {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  font-size: 8px;
  z-index: 2;
}

.decisionBtn {
  font-family: "chaney";
  width: 100%;
  font-size: 48px;
  background-color: #ffc107;
  color: #fff;
  cursor: pointer;
}
