.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 16px;
}

.label {
  font-size: 12px;
  font-weight: 700;
}

.input {
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  padding: 8px;
  height: 32px;
  outline: 0;
  background-color: $surfaceMuted;
  border-radius: 8px;
  border: 1px solid $borderColor;
}

.error {
  position: absolute;
  bottom: 0;
  left: 0;
  color: $danger;
  font-family: "Pretendard";
  font-size: 12px;
  font-weight: 500;
}
