@font-face {
  font-family: 'chaney';
  src: url('./asset/chaney-ultraextended-webfont.eot');
  src: url('./asset/chaney-ultraextended-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./asset/chaney-ultraextended-webfont.woff2') format('woff2'),
    url('./asset/chaney-ultraextended-webfont.woff') format('woff'),
    url('./asset/chaney-ultraextended-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
